* {
  box-sizing: border-box;
  margin: 0;
}

.parent {
  background-color: rgb(77, 74, 255);
  padding: 10px;
  display: grid;
  grid-template-columns: repeat(3, minmax(400px, 1fr));
  gap: 10px;
}

.parent > div {
  text-align: center;
  background-color: rgb(226, 255, 59);
}

/* Position */

.pos {
  width: 150px;
  height: 150px;
  margin: 20px auto;
  position: relative;
  background-color: grey;
}

.one,
.two {
  width: 100%;
  padding: 10px;
  text-align: center;
  font-weight: bold;
  color: white;
  position: absolute;
}

.one {
  background-color: red;
  top: 20px;
}

.two {
  background-color: green;
}
/* 3D Transform – Backface Visibility And Flip Product */

.container {
  width: 200px;
  margin: 20px auto;
  perspective: 600px;
  perspective-origin: center top;
}

.card {
  width: 200px;
  height: 300px;
  position: relative;
  transition: transform 1s;
  transform-style: preserve-3d;
  transform-origin: right top;
}

.card:hover {
  transform: translate3d(-100%, 0, 80px) rotateY(-180deg);
}

.card .faces {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 300px;
  position: absolute;
  text-align: center;
  color: gold;
  backface-visibility: hidden;
}

.front {
}

.front img {
  width: 200px;
  height: 300px;
}

.back {
  background-color: rgb(0, 0, 0);
  transform: rotateY(180deg);
}
